<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/style.css">
    <title>insta485</title>
</head>
<body>
    <div class="photo">
        <div class = "header">
            <ul>
                <li><a href="/" class="topright">home</a></li>
                <li><a href="/explore/" class="topright">explore</a></li>
                <li><a href="/u/{{ logname }}/" class="topright">{{ logname }}</a></li>
            </ul>
        </div>
        <hr>
        <!-- DO NOT CHANGE THIS -->
        <form action="{{ url_for('show_accounts') }}?target={{ url_for('show_edit') }}" method="post" enctype="multipart/form-data">
            <p>Old password<input type="password" name="password" required/></p>
            <p>New password<input type="password" name="new_password1" required/></p>
            <p>New password, again<input type="password" name="new_password2" required/></p>
            <input type="submit" name="update_password" value="submit"/>
            <input type="hidden" name="operation" value="update_password"/>
        </form>
        <a href="{{ url_for('show_edit') }}">Back to edit account</a>
    </div>
</body>
</html>